body {
  text-align: center;
  font-family: Helvetica;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
#hero{
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  background-position: center;
}
#hero h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
#hero li{
  list-style-type: none;
}
#hero a{
  font-size: 18px;
  color: white;
}
.copyright {
  font-size: 11px;
  color: white;
}
.ny {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}
#footer {
  background-color: dimgray;
  text-align: left;
}
#footer a {
  color: white;
  font-size: 18px;
}
